.react-themed-player::first-child {
  width: 100%;
  padding-top: 56.25%;
  height: 0px;
  position: relative;
}
.react-themed-player>div>video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
}

.rtl-controls-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
}

.rtl-controls-top-bar {
  display: flex;
  flex-direction: column;
}

.rtl-controls-top-bar-title {
  width: 100%;
}

.rtl-controls-top-bar-subtitle {
  width: 100%;
}

.rtl-controls-bottom-bar {
  display: flex;
  flex-direction: column;
}

.rtl-controls-bottom-bar-buttons {

  display: flex;
  flex-direction: row;
}

.rangeslider-horizontal {
  height: 5px;
  border-radius: 0px;
}

.rangeslider {
  margin: 0px !important;
  margin-top: -5px !important; 
}

.rangeslider-horizontal {
  height: 5px !important;
}

.rangeslider__labels {
  display: none !important;
}

.rangeslider__handle {
  height: 20px !important;
  width: 20px !important;
}

.rangeslider-horizontal .rangeslider__handle:after {
  width: 10px !important;
  height: 10px !important;
  top: 5px !important;
  left: 5px !important;
}